@charset "utf-8";
#wrap {
	height: auto;
	width: 1300px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
#header_exchange {
	float: left;
	height: 20px;
	width: 100%;
	font-family: "맑은 고딕";
	font-size: 16px;
	color: #FFF;
	background-color: #000;
}
#page_header {
	float: left;
	height: 100px;
	width: 100%;
	background-color: #e6e1dc;
}
#main {
	float: left;
	height: 900px;
	width: 100%;
}
#new_arrivals {
	float: left;
	height: auto;
	width: 1300px;
}
#best_item {
	float: left;
	height: auto;
	width: 1300px;
}
#footer {
	float: left;
	height: 200px;
	width: 100%;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
#page_header_logo {
	float: left;
	height: 100px;
	width: 200px;
}
#menubar {
	float: left;
	height: 40px;
	width: 800px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 14px;
	font-family: "맑은 고딕";
	font-weight: bold;
}
#page_right_menu {
	float: right;
	height: 90px;
	width: 300px;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}
#new_arrival_title {
	height: 90px;
	width: 1300px;
	margin-top: 20px;
	font-size: 12px;
	font-family: "맑은 고딕";
}
.ban {
	height: 650px;
	width: 426px;
	margin-top: 20px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
}
#best_item_title {
	height: 90px;
	width: 1300px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	font-family: "맑은 고딕";
}
#footer_copyright {
	float: left;
	height: 150px;
	width: 300px;
	margin-top: 40px;
	margin-left: 20px;
	font-size: 10px;
}
.footer_ban {
	float: left;
	height: 100px;
	width: 210px;
	margin-top: 40px;
	margin-left: 30px;
	font-size: 10px;
}
#footer_bottom {
	float: left;
	height: 40px;
	width: 1300px;
	margin-top: 20px;
	background-color: #555555;
	color: #FFF;
	font-family: "맑은 고딕";
	font-size: 14px;
}
#wrap #footer .footer_ban h4 {
	font-size: 12px;
}
#wrap #new_arrivals #new_arrival_title h2 {

}
.ban_detail {
	height: 110px;
	width: 370px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 27px;
}
